@import url('https://fonts.cdnfonts.com/css/krabby-patty');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Elementos do nav */

nav {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F1F6;
    padding: 0 20px; 
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.logo{
    flex: 0 1 auto;
}


.logo h1{
    font-family: 'Krabby Patty', sans-serif;
    color:#A21621;
    text-shadow: 4px 4px 1px #7499c6;
    font-size: 50px;
    margin-left: 40px;
    
}

.logo h1:hover{
    transform: scale(1.1);
}

.links{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: auto;
}

.links a{
    text-decoration: none;
    color: #A21621;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.links a:hover{
    font-weight: bold;
    text-shadow: 1px 1px 1px #7499c6;
}

.redes{
    flex: 0 1 auto;
}

.redes a{
    color:#A21621;
    font-size: 20px;
    margin-right: 40px;
}

.redes a:hover{
    font-weight: bold;
    text-shadow: 1px 1px 1px #7499c6;
}

/* Fim dos elementos nav */


/* asides */ 


main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    margin-top: 60px;
    padding: 20px;
    flex-grow: 1;
}

.content{
    grid-column: 2;
}

aside{
    background-color: #e0e0e0;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
}


.about-me,
.popular-post,
.follow-me{
    grid-column: 3;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-me h2 {
    font-family: 'Pacifico', cursive;
    color: #A21621;
    text-shadow: 2px 2px 1px #7499c6;
}


.about h2,
.about h3{
    margin-bottom: 25px;
}

.about-me p{
    text-align: justify;
    margin-top: 10px;
}

.about-me img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}
