@import url('https://fonts.cdnfonts.com/css/krabby-patty');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
        "header header"
        "body aside"
        "footer footer";
    height: 100vh;
    gap: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    grid-area: header;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F1F6;
    padding: 10px 20px; 
}

.logo {
    margin-right: auto;
}

.logo h1 {
    font-family: 'Krabby Patty', sans-serif;
    color: #A21621;
    text-shadow: 4px 4px 1px #7499c6;
    font-size: 50px;
    margin: 0;
}

.logo h1:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.links a {
    text-decoration: none;
    color: #A21621;
    font-weight: bold;
    margin: 0 10px; 
    padding: 10px;
}

.links a:hover {
    font-weight: bold;
    background-color: #A21621;
    border: 1px solid #a21622a1;
    border-radius: 40px;
    color: #fff;
}

.redes {
    margin-left: auto;
}

.redes a {
    color: #A21621;
    font-size: 20px;
}

.redes a:hover {
    font-weight: bold;
    text-shadow: 1px 1px 1px #7499c6;
}

.body {
    grid-area: body;
    padding: 10px;
    position: relative; 
}

.area1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.area1 img {
    width: 100%;
    height: auto; 
    object-fit: contain;}

.aside-container {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.aside {
    background: #ddd;
    padding: 10px;
}

footer {
    grid-area: footer;
    background: #333;
    color: white;
    padding: 10px;
}

.about-me,
.popular-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-me:hover,
.popular-post:hover,
.follow-me:hover {
    cursor: pointer;
    background-color: #C5C2E1;
}

.about-me h2,
.popular-post h2,
.follow-me h2 {
    font-family: 'Pacifico', cursive;
    color: #A21621;
    text-shadow: 2px 2px 1px #7499c6;
    margin: 2px;
}

.about-me p {
    text-align: justify;
    margin-top: 10px;
}

.about-me h3 {
    margin: 10px;
}

.about-me img {
    max-width: 100%;
    height: auto;
    display: block;
}

.follow-me h2 {
    text-align: center;
}

.linksredes {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.linksredes a {
    color: #ce1928;
}

.linksredes a:hover {
    font-weight: bold;
    text-shadow: 1px 1px 2px #7499c6;
}


.area1 {
    position: relative;
    width: 100%;
    height: auto; 
    overflow: hidden; 
}

.area1 h1{
    font-family: 'Pacifico', 'Roboto', sans-serif;
    font-size: 50px;
    color:white;
    text-shadow: 4px 3px 1px #A21621;
}

.area1 p{
    margin-top: -15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.area1 img {
    width: 100%; 
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    z-index: 2;
}


.hatch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.team {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px; 
}




.img-team{
    float: left;
    width: 50%;
    box-shadow: 10px 10px 5px rgba(72, 114, 170, 0.5);
}

.team-texto{
    margin-left: 55%;
}

.team-texto h1{
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    color: #A21621;
    text-shadow: 3px 3px 1px #7499c6;
    font-size: 40px;

}

.team-texto p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.rotateburger {
    width: 300px; 
    height: 300px; 
    margin: 40px auto 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rotateburger img {
    width: 100%;
    height: auto;
    animation: rotate 10s linear infinite; 
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-sizing: border-box;

}